.container {
    margin-top: 100px;
}

.container-fluid {
    height: 60px;
}

.carousel-inner {
    width: 1360px;
    height: 600px;
}

.carousel-item-active {
    width: 1360;
    height: 600;
    padding: 20px;
    margin: 20px;
}

.banner-video {
    background-image: url(imagenes/banner-index.jpg);
    padding: 200px 0;
    position: relative;
    text-align: center;
    margin-top: 120px;
}
.banner-video-trabajo {
    background-image: url(imagenes/background-01.jpg);
    padding: 200px 0;
    position: relative;
    text-align: center;
    margin-top: 120px;
}

.banner-video img {
    width: 80px;
    height: 80px;
    position: relative;
}
.banner-video-trabajo img {
    width: 80px;
    height: 80px;
    position: relative;
}

.validacion-datos {
    margin: 100px;
    padding-left: 10px;
}

.slider-contacto {
    width: 1360px;
    height: 540px;
}

.titulo-3 {
    font-size: 35px;
    margin: 50px 455px;
    text-shadow: 1px 2px rgb(199, 198, 198);
}

footer {
    background-color: black;
    padding: 60px 0;
    text-align: center;
    margin-top: 50px;
    height: 200px;
    width:100%
}

.iconos-redes {
    width: 40px;
    margin: 10px 10px;
}

.Derechos {
    color: white;
    font-size: 10px;
    padding-right: 90px;
    padding-top: 30px;
}

.kc_fab_main_btn {
    background-color: #F44336;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.img-fluid {
    width: fit-content;
    height: 500px;


}

.h1-titulo{
    text-align: center;
}